body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, sans-serif;
}

.about-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 50px 100px 50px 100px;
}

.about-content div {
  flex: 1;
}

.about-content img {
  flex: 1;
  overflow: hidden;
  height: 500px;
  width: 600px;
  border-radius: 8px;
}

.about-content h2 {
  color: #333;
  font-size: 4rem;
  margin-bottom: 20px;
}

.about-content p {
  color: #333;
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.team-member {
  text-align: center;
  margin-top: 20px;
}

.team-member img {
  width: 150px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .about-content img {
    width: 90%;
    height: 90%;
  }
  .about-content h2 {
    font-size: 2.9rem;
  }

  .about-content p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1125px) {
  .about-content {
    flex-direction: column;
  }

  .about-content h2 {
    text-align: center;
  }

  .about-content p {
    text-align: center;
  }
}
