nav {
  height: 80px;
  background-color: #151d76;
}

body {
  overflow: hidden;
}

#klovn {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  a {
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 20px;
    border-radius: 10px;
    padding: 1rem 3rem;
    background-color: #6999e1;
  }
}

h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 200px;
  font-weight: bold;
  border-bottom: solid rgb(255, 255, 255) 3px;
  line-height: 165px;
}

p {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 1rem;
}
