* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.kontakt-os {
  text-align: center;
  background-color: #6899e1;
  padding: 10px 10px;
  max-width: 100%;
  margin: 0 auto;
  padding: 100px 100px;
}

.kontakt-os h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 30px;
}

.kontakter {
  font-size: 16px;
}

.kontakter li {
  margin-bottom: 5px;
  text-decoration: none;
  list-style-type: none;
}
