* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/*Kunder*/
.kunder h1 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin: 30px 0 40px 0;
}

.kunder h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.kunde-container p {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.5;
}

.kunde-container:nth-child(odd) {
  background-color: #151d76;
  color: white;
  flex-direction: row-reverse;
}

.kunde-container h2:nth-child(odd) {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.kunde-container {
  display: flex;
  gap: 100px;
  padding: 40px 100px;
  background-color: rgb(240, 238, 238);
}

.tekst-indhold {
  display: flex;
  flex-direction: column;
}

.kunde-container div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stort-billede {
  height: 400px;
  width: 600px;
}

/*Logo-slider*/
.logos {
  overflow: hidden;
  padding: 20px 0;
  background-color: rgb(231, 229, 229);
  white-space: nowrap;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;

  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 70px;
  margin: 0 40px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 1125px) {
  .kunde-container {
    flex-direction: column;
    padding: 40px 20px;
  }

  .kunde-container:nth-child(odd) {
    flex-direction: column-reverse;
  }

  .stort-billede {
    width: 100%;
    height: auto;
    margin-top: auto;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 700px) {
  .kunde-container h2 {
    font-size: 2rem;
    margin-bottom: 15px;
  }

  .kunde-container p {
    font-size: 1.4rem;
    margin-bottom: 15px;
  }

  .tekst-indhold {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stort-billede {
    width: 100%;
    height: auto;
    margin-top: auto;
    margin-bottom: 20px;
  }

  .kunde-container div {
    flex-direction: column;
  }

  .btn-square-contact {
    padding: 10px 20px;
    font-size: 1.3rem;
  }
}
