* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.kunder-container h1 {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  color: black;
  max-width: 1080px;
  margin: 10px auto;
}
.kunder-grid {
  max-width: 1080px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.kunder-card {
  background-color: #6899e1;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-basis: calc(33.33% -2rem);
  margin-bottom: 2rem;
  max-width: 30%;
}

.kunder-card h2 {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.kunder-card img {
  width: 100%;
  height: auto;
  border-radius: none;
  align-items: center;
  margin-bottom: 10px;
}

.kunder-card p {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 10px;
}
