* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: poppins;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*Nyheder*/
.nyhed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.nyhed-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nyhed-heading span {
  color: #f33c3c;
  font-size: 1.5rem;
}

.nyhed-heading h3 {
  font-size: 4.5rem;
  color: #2b2b2b;
  font-weight: 600;
}

.nyhed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
  column-count: 3;
}

.nyhed-box {
  width: 350px;
  height: 500px;
  background-color: #eeebeb;
  border: 1px solid #eeebeb;
  margin: 20px 20px;
}

.nyhed-img {
  width: 100%;
  height: auto;
}

.nyhed-img img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.nyhed-tekst {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.nyhed-tekst .nyhed-titel {
  font-size: 1.3rem;
  font-weight: 500;
  color: black;
}

.nyhed-tekst span {
  color: #151d76;
  font-size: 1.3rem;
}

.nyhed-tekst p {
  color: #9b9b9b;
  font-size: 1.3rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}
.nyhed-tekst a {
  color: #0f0f0f;
  font-size: 1.3rem;
}
.nyhed-tekst a:hover {
  color: #151d76;
  transition: all ease 0.3s;
}

.nyhed-tekst .nyhed-titel {
  font-size: 2rem;
  font-weight: bold;
}
