* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "realist", sans-serif;
  font-style: normal;
}

/*navigation*/
nav {
  background-color: #151d76;
  height: 80px;
}

nav ul {
  max-width: 1080px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 24px;
  margin: 0 auto;
}

#toggle-nav,
#toggle-nav-btn-open,
#toggle-nav-btn-close {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    height: calc(100% - 300px);
    opacity: 0;
    width: 100%;
    height: 350px;
    top: 80px;
    left: -100%;
    background-color: #151d76;
    padding-left: 2px;
    text-align: center;
    z-index: 99;

    display: block;
  }

  .logo {
    font-size: 0;
  }

  nav ul li a {
    display: block;
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
  }

  #toggle-nav-btn-open {
    display: inline-block;
  }

  .nav-links li a:not(.logo) {
    color: white;
    font-size: 2rem;
    background-color: #151d76;
  }

  .nav-links li a:hover {
    color: #23f0fa;
  }

  .nav-links li .btn-square-contact {
    padding: 0;
  }

  #toggle-nav:checked ~ label #toggle-nav-btn-open {
    display: none;
  }

  #toggle-nav:checked ~ label #toggle-nav-btn-close {
    display: inline-block;
  }
}

#toggle-nav:checked ~ .nav-links {
  opacity: 1;
  left: 0;
}

#toggle-nav-btn-open,
#toggle-nav-btn-close {
  margin-left: 90%;
  margin-top: 20px;
}

#toggle-nav-btn-open,
#toggle-nav-btn-close {
  font-size: 4rem;
  color: #6999e1;
}

nav ul li {
  position: relative;
}

nav a img {
  width: 50px;
  height: 50px;
}

nav a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
}

.underline-hover::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 10px;
  display: block;
  margin-top: 7px;
  transition: all 500ms ease-in-out;
}

.underline-hover:hover::after {
  width: 100%;
  height: 2px;
  background-color: #6999e1;
}

.underline-hover a:hover {
  color: #6999e1;
}

.underline-hover li:hover span {
  display: block;
}

.btn-square-contact:hover {
  background-color: #23f0fa;
  color: #151d76;
}

nav li:nth-child(1) {
  margin-right: auto;
}

nav li:nth-child(7) {
  margin-left: auto;
}

.btn-square-contact {
  font-size: 1.6rem;
  font-weight: 600px;
  display: inline-block;
  background-color: #6999e1;
  color: white;
  text-decoration: none;
  padding: 15px 40px;
  text-align: center;
  border-radius: 5px;
}

/*header*/
header {
  background-color: #eae8e8;
  padding: 40px 0 60px 0;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

  max-width: 1080px;
  gap: 4rem;
  margin: 0 auto;
}

.header-content img {
  max-width: 500px;
}

.info {
  max-width: 500px;
}

.info h2 {
  font-size: 5rem;
  margin-bottom: 10px;
}

.info p {
  font-size: 2.2rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

/*Footer*/
footer {
  background-color: #151d76;
  padding: 20px 0 0 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

/*footer section 1*/
.footer-section-1 {
  flex: 1;
  text-align: center;
}

.footer-section-1:not(:last-child) {
  border-right: 1px solid #ccc;
}

.footer-container::after {
  content: "";
  border-left: 1px solid #ccc;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.footer-section-1 h2 {
  margin-bottom: 10px;
  color: white;
  font-size: 1.6rem;
  text-align: center;
}

.footer-section-1 p {
  font-size: 1.3rem;
  line-height: 1.8;
  color: white;
}

.footer-section-1 nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.footer-section-1 nav ul li {
  align-items: center;
  margin-right: 20px;
  display: inline-block;
}

.footer-section-1 nav ul li a {
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}

.footer-section-1 a:hover {
  color: #23f0fa;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.fa-square-facebook {
  font-size: 4rem;
  color: #23f0fa;
  text-align: center;
}

.fa-square-instagram {
  font-size: 4rem;
  color: #23f0fa;
  text-align: center;
}

footer img {
  height: 50px;
  width: 50px;
}

/*footer-section-2*/
.footer-section-2 {
  width: 100%;
  border-top: 1px solid #ccc;
}

.footer-section-2 ul {
  display: flex;
  flex-direction: row;
}

.footer-section-2 ul li {
  margin: 32px;
  list-style: none;
}

.footer-section-2 li:nth-child(1) {
  margin-right: auto;
}

.footer-section-2 nav li:nth-child(2) {
  margin-left: auto;
}

.footer-section-2 a {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
}

.footer-section-2 p {
  color: white;
  font-size: 1.3rem;
}

.hover-effect :hover {
  color: #23f0fa;
}

@media screen and (max-width: 700px) {
  .footer-section-1 {
    flex-direction: column;
  }

  .footer-section-2 ul {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }

  .footer-section-2 ul li a {
    text-align: center;
  }

  .footer-section-2 p {
    margin: 0 170px;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-section-1:not(:last-child) {
    border-right: 0;
  }

  .social-media a {
    text-align: center;
    margin-left: 40px;
  }

  .footer-section-1 h2:first-child {
    margin-top: 10px;
  }
}
